html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    color: inherit;
    text-align: inherit;
    text-decoration: inherit;
    vertical-align: inherit;
    box-sizing: inherit;
    background: transparent;
}
 
ul {
    list-style: none;
}
 
img {
    display: block;
    width: 100%;
    height: auto;
}
 
button, input[type="submit"] {
    cursor: pointer;
}
 
body {
    min-height: 100%;
    min-width: 100%;
    text-align: center;
    position: relative;
    display: flex;
}

.main-container {
    margin-top: 100px;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.game-container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.instruction-container, .info-container {
    display: block;
    border: 1px solid black;
    padding: 10px;
}