body {
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    background: linear-gradient(to right, #070000, #4c0001, #070000);
    color: red;
    font-family: 'MedievalSharp', cursive;
}

.main-container {
    margin-top: 100px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.game-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.instruction-container {
    display: block;
    padding: 10px;
    min-width: 140px;
    min-height: 100px;
}

.info-container {
    display: flex;
    min-width: 140px;
    padding: 10px;
}

.info-container a:hover {
    color: white;
}

#musicBtn:hover {
    color: white;
}

#musicBtn :first-child {
    display: block;
}

#musicBtn :last-child {
    display: none;
}

#game-over {
    cursor: pointer;
}