body {
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    background: linear-gradient(to right, #070000, #4c0001, #070000);
    color: red;
    font-family: 'MedievalSharp', cursive;
}

.main-container {
    margin-top: 100px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.game-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.instruction-container {
    display: block;
    min-width: 10em;
    min-height: 100px;
}

.info-container {
    display: block;
    min-width: 10em;
}

.info-container a:hover {
    color: white;
}

#musicBtn:hover {
    color: white;
}

#musicBtn :first-child {
    display: block;
}

#musicBtn :last-child {
    display: none;
}

#points-display {
    font-size: 5em;
}

#game-over {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
}

#start-game {
    display: flex;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
}