body {
    min-height: 100%;
    min-width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    background-color: black;
    color: red;
}

.main-container {
    margin-top: 100px;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.game-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.instruction-container {
    display: block;
    padding: 10px;
    min-width: 140px;
    min-height: 100px;
}

.info-container {
    display: flex;
    min-width: 140px;
    padding: 10px;
}

#game-over {
    cursor: pointer;
}